body {
    background-color: black;
    background-image: url("helmet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    color: white;
    text-align: center;
    text-decoration: underline;
}

h2{
    color: white;
    text-align: center;
    text-decoration: underline;
}



input[type=text], select, textarea {
width: 100%; 
padding: 12px; 
border: 1px solid black; 
border-radius: 4px; 
box-sizing: border-box; 
margin-top: 6px; 
margin-bottom: 16px; 
resize: vertical 
}


input[type=submit] {
background-color: black;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}


input[type=submit]:hover {
background-color: red;
}


.container {
border-radius: 5px;
background-color: tan;
padding: 20px;
} 